<include>
<context name="default-freeswitchcustomextensions">
#foreach($customextension in $customextensions)
<!--// Extension: $!{customextension.name} BEGIN  //-->
$!{customextension.content}
<!--// Extension: $!{customextension.name} END  //-->

#end
    </context>
</include>
