<include>
<context name="default-freeswitchcustomextensions">
#foreach($extension in $customextensions)
#if(${extension.enabled})
<!--// Extension: $!{extension.name} BEGIN  //-->
$!{extension.content}
<!--// Extension: $!{extension.name} END  //-->
#end
#end
</context>
</include>
